<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlySafe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>092817EB1BB8313F0010E4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>092818041BB8313F0010E4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0928180F1BB831400010E4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
